*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #121528;  */
}

body {
    background-color: #0a192f;
    color: #ccd6f6b0;
}

/* Utility classes starts */
.flex {
    display: flex;
}


/* Utility classes ends  */

/* Header section starts */
.header {
    /* background-color: yellow; */
    
}

.header-content {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 1.5%;
}

.nav-logo img{
    display: block;
    margin: 2% auto;
}

.nav-links-div {
    margin-left: auto;
}

.nav-links {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.nav-links li {
    margin: 20px;
}

.nav-links a {
    font-family: 'Source Code Pro', monospace;
    color: #ccd6f6;
    text-decoration: none;
}
/* Header section ends */
.hero-section {
}


/* Hero Section starts */
.hero-section-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto 0 155px;
}

.margin-utility {
    margin: 2% 0;
}

.hero-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3.5rem;
    color: #ccd6f6;
}

.hero-heading1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: #64ffda;
    margin-bottom: 2%;
}

.hero-heading3 {
    color: #ccd6f6b0;
}

.hero-heading4 {
    color: #ccd6f6b0;
    width: 60%;
}

.hero-section-buttons {
    display: flex;
    margin-bottom: 100px;
    margin-top: 30px;
}

.resume-button a {
    display: block;
    color: #64ffda;
    font-family: 'Source Code Pro', monospace;
    background-color: transparent;
    outline: 1px solid #64ffda;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 180px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.social-buttons {
    margin-left: 5px;
}

.resume-button a:hover, 
.social-buttons button:hover {
    background-color: #64ffdb18;
    transition: 0.2s ease-in-out;
}
.social-buttons button {
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    width: 60px;
    background-color: transparent;
    border: 1px solid #64ffda;
    font-size: 15px;
    color: #64ffda;
    margin-left: 10px;
    font-size: 25px;
}
/* Hero Section ends */

/* Educational Section starts */
.education-section {
    margin: 40px 155px;
}

.education-section-title {
   margin-top: 50px;
   color: #ccd6f6b0;
}

.education-section-title h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 3.5rem;
    color: #ccd6f6;
}
.card-content {
    margin: 50px auto   ;
}

.fa-arrow-right {
    color: #64ffda;
}

.section-numbering {
    color: #64ffda;
    font-family: 'Source Code Pro', monospace;
}


.card1, .card2 {
    margin-left: 105px;
    outline: 1px solid #64ffda;
    border-radius: 5px;
    width: 80%;
}

.card-content h3, 
.card-content p, 
.card-content h4 {
    margin: 1% 1%;
}
 
.card-content p, 
.card-content h4 {
    margin-left: 3.5%;
}

/* Educational Section ends */

/* Skills Section starts */
/* Skills Section ends */

/* Footer Section starts */
/* Footer Section ends */